node_modules
coverage
azurite-testdrive
.nyc_output
dist
typings
debug.log
*.vsix
*.tgz
__*
*.env
temp
**/.DS_Store.DS_Store
*.pem
disk.esc
disk.esc/
azurite-linux
azurite-macos
azurite-win.exe
azurite.exe
azurite.js
